header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

h1 {
  color: MediumAquamarine;
  font-family: Verdana;
  font-size: 14px;
}

a {
  color: black;
}

span.headerItem {
  display: inline-flex;
  align-items: center;
}

img.logoItem {
  padding: 10px 10px;
}

.navLink {
  display: inline-block;
  margin: 0 15px;
}
